html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* -----------背景地图相关样式--------------------*/

.map-big {
    height: 100%;
    width: 100%;
    float: left;
    z-index: 0;
}

.ol-dragbox {
    background-color: rgba(255, 0, 0, 0.05);
    border-color: rgba(255, 0, 0, 1);
}


/* 新增按钮相关*/

.rotate-north {
    top: 165px;
    left: .5em;
}

.ol-touch .rotate-north {
    top: 80px;
}


/*  全屏相关*/

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}


/* position the rotate control lower than usual */

.ol-rotate {
    top: 3em;
}


/* -----------小地图相关样式--------------------*/

.map-small {
    width: 25%;
    height: 25%;
    margin-top: 0px;
    position: absolute;
    bottom: 0;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    z-index: 1;
}


/*#carousel-map-info {
    width: 330px;
    height: 380px;
    margin: 10px;
}

.carousel-indicators .active {
    background-color: #337AB7;
}

.carousel-indicators li {
    border: 1px solid #337AB7;
}

.carousel-inner .item table {
    color: black;
}*/


/* -----------检索区相关样式--------------------*/

#map-search {
    left: 20px;
    top: 20px;
    width: 350px;
    height: 45px;
    background-color: #FFF;
    position: absolute;
    box-shadow: 0px;
    z-index: 301;
}

#map-search .map-search-header {
    border: 1px solid rgba(51, 51, 51, 0.2);
    height: 45px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#map-search .map-search-header img {
    margin: 2px;
    width: 40px;
    height: 40px;
    vertical-align: top;
}

#map-search .map-search-header input {
    border: 0px;
    height: 40px;
    width: 244px;
    margin: 2px;
    vertical-align: top;
}

#map-search a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 2px;
    overflow: hidden;
    cursor: pointer;
    color: #333;
}

#map-search a:hover {
    opacity: 0.7;
}

#map-search #map-search-btn {
    background: #FFF url("../img/search.png") no-repeat scroll 50% 35%;
}

#map-search-panel {
    margin-top: 3px;
    height: 350px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}


/* -----------信息显示区相关样式--------------------*/

#map-info {
    width: 350px;
    height: 400px;
    margin: 6px;
    padding: 5px;
    right: 0;
    background-color: #FFF;
    position: absolute;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 300;
}

#map-info-base,
#map-info-node {
    position: absolute;
    left: 0;
    top: 25px;
    width: 330px;
    height: 330px;
    margin: 10px;
    overflow-x: auto;
}

#map-info-node {
    visibility: hidden;
}

.map-info-indicators {
    cursor: pointer;
    position: absolute;
    left: 161px;
    bottom: 0;
    color: #337AB7;
}

#map-info-title {
    font-size: 14px;
    font-weight: bold;
    color: #337AB7;
}


/* -----------工具栏相关样式--------------------*/

.map-tools,
.map-tools-ring {
    height: 256px;
    position: absolute;
    width: 256px;
    right: 0;
    bottom: 0;
    margin: 40px;
    z-index: 400;
}

.map-tools-ring {
    background-color: rgba(51, 122, 183, 0.5);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.1) rotate(-270deg);
    -moz-transform: scale(0.1) rotate(-270deg);
    -transform: scale(0.1) rotate(-270deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.map-tools-open .map-tools-ring {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -transform: scale(1) rotate(0);
}

.map-tools-center {
    background-color: rgba(51, 122, 183, 255);
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: white;
    height: 80px;
    left: 48px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    top: 48px;
    width: 80px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    z-index: 401;
}

.map-tools-open .map-tools-center {
    border-color: #337AB7;
}

.map-tools-menuItem {
    border-radius: 50%;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    width: 40px;
}


/*.controltool {
    left: 50%;
    margin-left: -400px;
    position: absolute;
    text-align: center;
    border: 1px solid #dddddd;
    background: #ffffff;
    width: 800px;
    height: 80px;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    top: expression(offsetParent.scrollTop+0);
}*/

#left-area {
    position: absolute;
    left: 25px;
    top: 12px;
    z-index: 200;
}

#right-tools {
    background-color: #FFF;
    position: absolute;
    right: 25px;
    top: 12px;
    height: 50px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 200;
}

#right-tools a {
    //padding: 14px 0 13px;
    border-right: 1px solid #E6E6E6;
    display: inline-block;
    height: 50px;
    width: 60px;
    overflow: hidden;
    cursor: pointer;
    color: #333;
}

#right-tools a:hover {
    opacity: 0.7;
}

#right-tools a span {
    display: block;
    font-size: small;
    text-align: center;
    line-height: 14px;
    margin-top: 35px;
    transform: scale(0.875);
}

#right-tools #btn-add-map {
    background: #FFF url("../img/right_tool/right_tool_addmap.png") no-repeat scroll 50% 35%;
}

#right-tools #btn-locate-point {
    background: #FFF url("../img/right_tool/right_tool_locationpoint.png") no-repeat scroll 50% 35%;
}

#right-tools #btn-add-points {
    background: #FFF url("../img/right_tool/right_tool_addpoints.png") no-repeat scroll 50% 35%;
}

#right-tools #btn-exchange-map {
    background: #FFF url("../img/right_tool/right_tool_addpoints.png") no-repeat scroll 50% 35%;
}

#right-tools #btn-hide-markers {
    background: #FFF url("../img/right_tool/right_tool_addpoints.png") no-repeat scroll 50% 35%;
}

#right-tools #btn-show-smallmap {
    background: #FFF url("../img/right_tool/right_tool_addpoints.png") no-repeat scroll 50% 35%;
}


/*#right-tools .tooldragbar {
    position: absolute;
    cursor: move;
}

#right-tools .tooldragup {
    top: -5px;
}

.tooldragdown,
.tooldragup {
    height: 10px;
    width: 100%;
    left: 0;
}*/

#add-layout {
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 440px;
    margin-top: -240px;
    margin-left: -300px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 100;
    visibility: hidden;
}

#btn-close-add-layout {
    position: absolute;
    font-size: 20px;
    width: 42px;
    height: 42px;
    top: 0px;
    margin-left: 554px;
}

.btn-modal-submit {
    width: 20%;
}

#div-worning {
    position: absolute;
    top: 94%;
    width: 100%;
    height: 5%;
    z-index: 100;
}