a {
    font-size: 14px;
    text-decoration: none;
    outline: 0;
}

.circle,
.ring {
    height: 256px;
    position: absolute;
    width: 256px;
    right: 0;
    bottom: 0;
}

.circle {
    margin: 0 auto;
}

.ring {
    background-color: rgba(51, 122, 183, 0.5);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.1) rotate(-270deg);
    -moz-transform: scale(0.1) rotate(-270deg);
    -transform: scale(0.1) rotate(-270deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open .ring {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -transform: scale(1) rotate(0);
}

.center {
    background-color: rgba(51, 122, 183, 255);
    border-radius: 50%;
    border: 2px solid #ffffff;
    bottom: 0;
    color: white;
    height: 80px;
    left: 0;
    line-height: 80px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    //bottom: 0;
    width: 80px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open .center {
    border-color: #337AB7;
}

.menuItem {
    border-radius: 50%;
    color: #337AB7;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    width: 40px;
}